.preview{
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
}

.button-edit{
  margin-left: auto;
  display: flex;
  &::before{
    font-family: 'icon';
    content: '\e900' ;
    display: inline;
  }
}