<div class="editing">
  <button class="button-preview" (click)="showPreview()">Preview</button>
  <div class="new-elements">
      <div #vf></div>
  </div>
  <div class="widgets">
    <div class="icon">
      <div class="icon-widgets"></div>
    </div>
    <div class="elements">
      <span>Add Widget</span>
      <ul>
        <li (click)="show('image')">
          <span class="title-widget">Image</span>
          <form action="" [formGroup]="form" *ngIf="this.showImage">
            <input type="file" name="" id="new-img" [formControl]="image" (change)="onFileSelected($event)">
            <button [disabled]="!this.currentName" (click)="createComponent('image')">Add image</button>
          </form>
        </li>

        <li (click)="show('text')" >
          <span class="title-widget">Text Editor</span>
          <form action="" [formGroup]="form" *ngIf="this.showText">
              <textarea *ngIf="this.showText"  name="" id="" cols="30" rows="10" formControlName="text"></textarea>
              <button  [disabled]="!this.text.valid" (click)="createComponent('text')">Add text</button>
          </form>
          
        </li>

        <li class="title-widget" (click)="createComponent('hello')">Hello Widget</li>
      </ul>
    </div>
  </div>

</div>
