<div class="editing">
  <div class="new-elements">
      <div #vf></div>
  </div>
  <div class="widgets">
    <div class="icon">
      <div class="icon-widgets"></div>
    </div>
    <div class="elements">
      <span>Add Widget</span>
      <ul>
        <li (click)="show('image')">
          <span class="title-widget">Image</span>
          <form action="" [formGroup]="formImage" *ngIf="this.showImage">
            <input type="file" name="" id="new-img" [formControl]="image" (change)="onFileSelected($event)">
            Altura: <input type="number" name="height" id="height" formControlName="height">
            Ancho: <input type="number" name="width" id="width" formControlName="width">
            <button [disabled]="!formImage.valid" (click)="createComponent('image')">Add image</button>
          </form>
        </li>

        <li (click)="show('text')" >
          <span class="title-widget">Text Editor</span>
          <form action="" [formGroup]="formImage" *ngIf="this.showText">
              <textarea *ngIf="this.showText"  name="" id="" cols="30" rows="10" formControlName="text"></textarea>
              <button  (click)="createComponent('text')">Add image</button>
          </form>
          
        </li>

        <li class="title-widget">Hello Widget</li>
      </ul>
    </div>
  </div>

</div>
