/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: note;
  src: url('./assets/fonts/noto/NotoSans-Regular.ttf');
  /* IE9 Compat Modes */
  // src: url("#{$path}fonts/inter/Inter-Medium.eot?#iefix") format("embedded-opentype"),
  //  url("#{$path}fonts/inter/Inter-Medium.woff2") format("woff2"),
  //    url("#{$path}fonts/inter/Inter-Medium.woff") format("woff"),
  //    url("#{$path}fonts/inter/Inter-Medium.ttf") format("truetype"),
  //   url("#{$path}fonts/inter/Inter-Medium.svg#svgFontName") format("svg"); 
}

@font-face {
  font-family: icon;
  src: url('./assets/fonts/icon/icon.eot');
  /* IE9 Compat Modes */
  src: url("./assets/fonts/icon/icon.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/icon/icon.woff") format("woff"),
    url("./assets/fonts/icon/icon.ttf") format("truetype"),
    url("./assets/fonts/icon/icon.svg#svgFontName") format("svg");
}

body {
  font-family: 'note';
    -webkit-font-smoothing: antialiased;
}

ul,
body,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;

}
button, .button-preview,
.button-edit{
  width: 100px;
  height: 25px;
  background: #f56d55c7;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-weight: 700;
  font-size: 14px;
  margin: 15px 0
}

.button-preview,
.button-edit {
  width: 150px;
  height: 50px;
  margin: 0;

}

button:disabled{
  background:#f56d5536 ;
}

.file-select {
  position: relative;
  display: inline-block;
}
 
.file-select::before {
  background-color: #5678EF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'Seleccionar'; 
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
 
.file-select input[type="file"] {
  opacity: 0;
  width: 200px;
  height: 32px;
  display: inline-block;
}
 
